*{
	margin: 0;
	padding: 0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  /* background: #838383; */
  /* background: linear-gradient(to bottom, #87ceeb, #ffffff); */
  background-image: url('/assets/fondo-huellas.jpg');
  /* background-color: rgba(255, 255, 255, 0.9); */
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}  



/* Login */

.loginform{
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.225);
    margin: 5% auto;
    padding: 26px 24px 46px;
    width: 100%;
    max-width: 450px;
}
.registrate{
  display: flex;
  padding-top: 20PX;
}

/* Index */


header{
  padding-top: 50px;

}

.contenido{
  height: 80%;
}

header > h1{
  text-align: center;
  font-size: 50px;
  color: #f68522;
  font-weight: 700;
  text-shadow: 2px 2px 4px #000000;
}

header > p{
  text-align: center;
  font-size: 30px;
  color: #fa9922;
  font-weight: 700;
  text-shadow: 2px 2px 4px #000000;
}

.contenedor, .carrusel{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

}
